@use "../abstracts/mixins" as mix;

.keypad {
  @include mix.content-bg;
  min-height: 420px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5rem;

  .btn--expanded {
    grid-column-end: span 2;
  }
}
