@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as mix;

.t1 {
  background-color: $t1-bg-main;

  h1,
  span,
  label,
  .attribution {
    color: $white;
  }

  .toggle__switch {
    background-color: $t1-bg-keypad;

    span {
      background-color: $t1-accent-main;
      @include mix.hover-focus-state($t1-accent-main, 10%);
    }
  }

  .keypad {
    background-color: $t1-bg-keypad;
  }

  .display {
    background-color: $t1-bg-screen;

    p {
      color: $white;
    }
  }

  .btn--primary {
    @include mix.button-shadow($t1-key-shadow);
    background-color: $t1-key;
    color: $t1-text;
    @include mix.hover-focus-state($t1-key, 20%);
  }

  .btn--secondary {
    @include mix.button-shadow($t1-accent-sub-shadow);
    background-color: $t1-accent-sub;
    color: $white;
    @include mix.hover-focus-state($t1-accent-sub, 15%);
  }

  .btn--accent {
    @include mix.button-shadow($t1-accent-main-shadow);
    background-color: $t1-accent-main;
    color: $white;
    @include mix.hover-focus-state($t1-accent-main, 20%);
  }

  .attribution a {
    color: $t1-key;

    &:visited {
      color: darken($t1-key, 20%);
    }

    &:hover,
    &:focus {
      color: lighten($t1-accent-main, 20%);
    }
  }
}
