@use "../abstracts/fonts" as *;

body {
  font-family: "League Spartan", sans-serif;
  font-size: $fs-500;
}

h1 {
  font-size: $fs-500;
}

.attribution {
  font-size: 11px;
}

.theme-toggler {
  font-size: $fs-100;
  letter-spacing: 1px;
}

.btn--secondary,
.btn--accent {
  font-size: $fs-200;
  text-transform: uppercase;
}

.display__content {
  font-size: $fs-xl;
}
