$white: hsl(0, 0%, 100%);

$t1-bg-main: hsl(222, 26%, 31%);
$t1-bg-keypad: hsl(223, 31%, 20%);
$t1-bg-screen: hsl(224, 36%, 15%);
$t1-text: hsl(221, 14%, 31%);
$t1-key: hsl(30, 25%, 89%);
$t1-key-shadow: hsl(28, 16%, 65%);
$t1-accent-main: hsl(6, 63%, 50%);
$t1-accent-main-shadow: hsl(6, 70%, 34%);
$t1-accent-sub: hsl(225, 21%, 49%);
$t1-accent-sub-shadow: hsl(224, 28%, 35%);

$t2-bg-main: hsl(0, 0%, 90%);
$t2-bg-keypad: hsl(0, 5%, 81%);
$t2-bg-screen: hsl(0, 0%, 93%);
$t2-text: hsl(60, 10%, 19%);
$t2-key: hsl(45, 7%, 89%);
$t2-key-shadow: hsl(35, 11%, 61%);
$t2-accent-main: hsl(25, 98%, 40%);
$t2-accent-main-shadow: hsl(25, 99%, 27%);
$t2-accent-sub: hsl(185, 42%, 37%);
$t2-accent-sub-shadow: hsl(185, 58%, 25%);

$t3-bg-main: hsl(268, 75%, 9%);
$t3-bg-keypad: hsl(268, 71%, 12%);
// $t3-bg-screen: hsl(0, 0%, 93%);
$t3-text-main: hsl(52, 100%, 62%);
$t3-text-sub: hsl(198, 20%, 13%);
$t3-key: hsl(268, 47%, 21%);
$t3-key-shadow: hsl(290, 70%, 36%);
$t3-accent-main: hsl(176, 100%, 44%);
$t3-accent-main-shadow: hsl(177, 92%, 70%);
$t3-accent-sub: hsl(281, 89%, 26%);
$t3-accent-sub-shadow: hsl(285, 91%, 52%);
