@mixin switch-size {
  height: 18px;
  width: 18px;
}

@mixin button-shadow($color) {
  box-shadow: inset 0 -5px 0 0 $color;
}

@mixin content-bg($pd-block: 2.4rem) {
  border-radius: 15px;
  padding: $pd-block 2.4rem;
}

@mixin hover-focus-state($color, $degree) {
  transition: all 0.2s ease-in;

  &:hover,
  &:focus {
    background-color: lighten($color, $degree);
  }
}
